.Header {
  position: absolute;
  top: 0;
  z-index: 2;
  transition: flex 0.3s ease-in-out;
  width: 100%;
}

.Footer {
  position: absolute;
  bottom: 0px;
  z-index: 2;
  transition: flex 0.3s ease-in-out;
  width: 100%;
}

.LoginOverlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginForm {
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.MobileDraggable{
  position: fixed;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;  
  z-index: 2;
}

td {
  text-align: center;
  vertical-align: middle;
}

/* 모바일 환경 */
@media (max-width: 767px) {
  .custom-card {
    height: 100%;
  }
}

/* 태블릿 환경 ~ 일반모니터 환경 */
@media (min-width: 768px) and (max-width: 1920px) {
  .Menu-active-none {
    width: 100%;
  }

  .Menu-active-left {
    left: 25%;
    width: 75%;
  }

  .Menu-active-right {
    left: 0;
    width: 75%;
  }

  .Menu-active-both {
    left: 25%;
    width: 50%;
  }

  .custom-card {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 25%;
    z-index: 2;
  }

  .card-left {
    left: 0;
  }

  .card-right {
    right: 0;
  }
}

/*wide 데스크톱 환경*/
@media (min-width: 1921px) {
  .custom-card-enter {
    transform: translateX(-100%);
  }
  .custom-card-enter-active {
    transform: translateX(0);
    transition: transform 300ms ease-in-out;
  }
  .custom-card-exit {
    transform: translateX(0);
  }
  .custom-card-exit-active {
    transform: translateX(-100%);
    transition: transform 300ms ease-in-out;
  }

  .Menu-active-none {
    width: 100%;
  }

  .Menu-active-left {
    left: 20%;
    width: 80%;
  }

  .Menu-active-right {
    left: 0;
    width: 80%;
  }

  .Menu-active-both {
    left: 20%;
    width: 60%;
  }

  .custom-card {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 20%;
    z-index: 2;
  }

  .card-left {
    left: 0;
  }

  .card-right {
    right: 0;
  }
}